:root {
  --wine-red: #c7375f;
  --bright-red: #d42d2f;
  --dark-green: #344d2f;
  --light-green: #77a047;
  --gold: #fac57d;
  --snow: #f0f4f7;
  --soft: #c0a498;
  --othersoft: #e9c4a6;
  --other: #663c1d;
}

html,
body {
  margin: 0;
  padding: 0;
}
* {
  color: var(--other);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #9a9c9e;
  background: url(img/calmtree.jpg) no-repeat;
  background-size: cover;
}
h1 {
  margin-top: 10px;
  font-size: 3rem;
  color: var(--othersoft);
  text-shadow: 2px 2px 1px grey;
  border-bottom: 4px dashed;
  padding-bottom: 30px;
}
.main-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--soft);
  color: var(--dark-green);
  padding: 2em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.affirmation {
  margin: 0;
}

.timer {
  font-size: 100px;
  margin: 0.5em;
}

button {
  border: none;
  background-color: var(--othersoft);
  color: var(--other);
  padding: 0.5em 1em;
  font-size: 1.5rem;
  border: 2px dashed transparent;
  margin-bottom: 20px;
}

button:hover,
button:focus {
  cursor: pointer;
  outline: none;
  background: var(--soft);
  color: var(--other);
  border: 2px dashed var(--othersoft);
}

.line {
  width: 100%;
  border-top: 4px dashed var(--othersoft);
  padding-top: 30px;
  margin-bottom: 30px;
}
